mixin form(action, title=undefined, updateForm = true)
  form.form-horizontal(class=(updateForm?'update-form ':'')+attributes.class||'' action=_url(action) method="post" role="form" update-action=attributes.updateAction update-tag=attributes.updateTag)
    legend=title || _t('form' + action.split('/').join('_'))
    block

mixin prepend_icon(icon)
    .input-group-prepend
      span.input-group-text
        span.fa(class=icon)

mixin hidden(name, value)
  input(id=attributes.id||name class=attributes.class type='hidden' name=name value=value)

mixin input_group(label)
  .form-group(class=attributes.class id=attributes.id)
    if !attributes.noLabel
      label.control-label=label
    .input-group
      if attributes.icon
        +prepend_icon(attributes.icon || 'fa-caret-down')
      block
    if attributes.help
      small.form-text.text-muted(id=name+"_help")=attributes.help    

mixin input(name, label=undefined )
  .form-group(class=attributes.class)
    label.control-label(for=attributes.id || name)=label||_t(name)
    input.form-control(type=attributes.type||'text' step=attributes.step name=name id=attributes.id||name value=attributes.value required=attributes.required)

mixin group_input(name)
  input.form-control(name=name)&attributes(attributes)(id=attributes.id||name type=attributes.type||'text')

mixin group_select(name)        
  select.form-control(id=attributes.id||name name=name required=attributes.required)
    block  

mixin file(name, label=undefined)
  +input_group(label||_t(name))(class=attributes.class icon=attributes.icon help=attributes.help)
    .custom-file
      input.custom-file-input(type='file' name=name value=attributes.value id=attributes.id||name lang="de" required=attributes.required accept=attributes.accept)          
      label.custom-file-label(for=attributes.id||name)=_t('choose_file')

mixin date(name, label=undefined)
  +input_group(label||_t(name))(icon=attributes.icon || 'fa-calendar' class=attributes.groupClass)
    +group_input(name)&attributes(attributes)(class="alt-datepicker" type='date' value=attributes.value?moment(attributes.value).format('YYYY-MM-DD'):undefined)

mixin money(name, label=undefined)
  +input_group(label||_t(name))(icon=attributes.icon || 'fa-euro-sign')
    +group_input(name)(type='number' step="0.01")&attributes(attributes)  

mixin id(name, label=undefined)
  +input_group(label||_t(name))(icon=attributes.icon || 'fa-sort-numeric-down')
    +group_input(name)(type='number' step="1")&attributes(attributes)  

mixin number(name, label=undefined)
  +input_group(label||_t(name))(icon=attributes.icon || 'fa-sort-numeric-down')
    +group_input(name)(type='number' step="1")&attributes(attributes)  

mixin percent(name, label=undefined)
  +input_group(label||_t(name))(icon=attributes.icon || 'fa-percent')
    +group_input(name)(type='number' step="0.01")&attributes(attributes)  

mixin text(name, label=undefined)
  +input_group(label||_t(name))(icon=attributes.icon class=attributes.groupClass help=attributes.help)
    +group_input(name)(type=type||'text')&attributes(attributes)

mixin select(name, label=undefined)
  +input_group(label||_t(name))(icon=attributes.icon || 'fa-caret-down')
    +group_select(name)&attributes(attributes)  
      block

mixin textarea(name, label=undefined)
  +input_group(label||_t(name))(icon=attributes.icon || 'fa-sticky-note')    
    textarea.form-control(type='text' name=name)=attributes.value

mixin tags(name, label=undefined)
  +input_group(label||_t(name))(icon=attributes.icon)
    +hidden(name, attributes.value?JSON.stringify(attributes.value):'[]')(class='tag-input')
    .tags-container.form-control
      .tag.badge.badge-primary.d-none
        span.tag-remove.fa.fa-times    
      if attributes.value         
        each tag in attributes.value
          .tag.badge.badge-primary=tag
            span.tag-remove.fa.fa-times
      input.new-tag-input(type="text" size="1")

mixin group_file(name)
  .custom-file(id=attributes.id||name class=attributes.class)
    input.custom-file-input(type='file' name=name value=attributes.value id=attributes.inputId required=attributes.required)    
    label.custom-file-label(for=attributes.id||name)=_t('choose_file')

mixin group_output(name)
  input.form-control-plaintext(class=attributes.class id=attributes.id||name value=attributes.value)

mixin submit_button(label=_t('save'))
  .text-right
    button.submit-button.btn.btn-primary(type='submit' class=attributes.class)=label

mixin checkbox(name, label=undefined)
  .form-group
    .form-check
      input.form-check-input(id=attributes.id||name type="checkbox" checked=attributes.value?"checked":undefined name=name aria-describedby=name+"_help")
      label.form-check-label(for=attributes.id||name)=label||_t(name)
      if attributes.help
        small.form-text.text-muted(id=name+"_help")=attributes.help

mixin radio(name, label=undefined)
  .custom-control.custom-control-inline.custom-radio
    input.custom-control-input(id=name+'_'+attributes.value type="radio" name=name checked=attributes.default&&!attributes.selected||attributes.selected&&attributes.selected==attributes.value?"checked":undefined)&attributes(attributes)
    label.custom-control-label.radio-label(for=name+'_'+attributes.value)= label||_t(name)

mixin option(value, label=undefined) 
  option(selected=attributes.selected && attributes.selected==value value=value)=label||_t(value)

mixin output(name, label=undefined)
  .form-group(class=attributes.class)
    label.control-label(for=attributes.id || name)=label||_t(name)
    +group_output(name)&attributes(attributes)  

mixin output_image(name, src)
  .form-group(class=attributes.class)
    label.control-label(for=attributes.id || name aria-describedby=name+"_help")=_t(name)
    .img-thumbnail
      img(id=attributes.imgId||name src=src data-src=src height=attributes.height class=attributes.imgClass)    
    if attributes.help
      small.form-text.text-muted(id=name+"_help")=attributes.help
                    
mixin is_import(column, name=undefined, label=undefined)
  if importMappings && importMappings[column] !== undefined
    +input_group(label || _t(name || column))(icon='fa-file-export')(class=attributes.groupClass)
      +group_input(name || column)(value=importFileColumns[importMappings[column]].header type="text" disabled="disabled")
  else
    block